html{
    font-size: 16px;
}

body {
    padding: 1rem;
}
ul{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

}

.menu {
    display: flex;
}

li {
    font-size: 1.5rem;
}

a, a:link {
    color: hsl(0, 100%, 50%);
    text-decoration: none;
}

a:visited {
    color: hsl(314, 81%, 44%);
}

a:hover, a:focus {
    color: hsl(261, 100%, 50%);
}

a:active {
    color: hsl(94, 100%, 50%)
}







