html {
    font-size: 16px; /* 16px = 1rem */
}

:root {
    
    /* vars */
    --glow-sens: 30;
    --card-bg: linear-gradient(8deg,var(--dark) 75%, color-mix(in hsl, var(--dark), white 2.5%) 75.5%);
    --blend: soft-light;
    --glow-blend: plus-lighter;
    --glow-color: 40deg 80% 80%;
    --glow-boost: 0%;
    
}

.light .card {
    --card-bg: linear-gradient(8deg,color-mix(in hsl, hsl(260, 25%, 95%), var(--dark) 2.5%) 75%, hsl(260, 25%, 95%) 75.5%);
    --blend: darken;
    --glow-blend: luminosity;
    --glow-color: 280deg 90% 95%;
    --glow-boost: 15%;
    --fg: black; 
    color: var(--fg); 
}

body.light {
    
    background-image: 
        linear-gradient( 
            180deg, 
            hsl(var(--h), 8%, 58%), 
            hsl(var(--h), 15%, 42%) 
        );
}


.card {
    
    --pads: 40px;
    --color-sens: calc(var(--glow-sens) + 20);
    --pointer-°: 45deg;
    
    position: relative;
    width: clamp(320px, calc(100svw - calc(var(--pads) * 2)), 600px);
    height: calc(100svh - calc(var(--pads) * 2));
    max-height: 600px;
    border-radius: 1.768em;
    isolation: isolate;
    transform: translate3d(0, 0, 0.01px);
    display: grid;
    border: 1px solid rgb(255 255 255 / 25%);
    background: var(--card-bg);
    background-repeat: no-repeat;
    
    &::before,
    &::after,
    & > .glow {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: opacity 0.25s ease-out;
        z-index: -1;
    }
     
    &:not(:hover):not(.animating) {
        &::before,
        &::after,
        & > .glow {
            opacity: 0;
            transition: opacity 0.75s ease-in-out;
        }
    }
    
    &::before {
        
        /* mesh gradient border */
        
        border: 1px solid transparent;
        
        background:
            linear-gradient(var(--card-bg) 0 100%) padding-box,
            linear-gradient(rgb(255 255 255 / 0%) 0% 100%) border-box,
            radial-gradient(at 80% 55%, hsla(268,100%,76%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 69% 34%, hsla(349,100%,74%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 8% 6%, hsla(136,100%,78%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 41% 38%, hsla(192,100%,64%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 86% 85%, hsla(186,100%,74%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 82% 18%, hsla(52,100%,65%,1) 0px, transparent 50%) border-box,
            radial-gradient(at 51% 4%, hsla(12,100%,72%,1) 0px, transparent 50%) border-box,
            linear-gradient(#c299ff 0 100%) border-box;
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--color-sens)) / (100 - var(--color-sens)));
        
        /* border is masked to a cone, originating from the center towards the pointer */
        mask-image: 
            conic-gradient( 
                from var(--pointer-°) at center, black 25%, transparent 40%, transparent 60%, black 75%
            );
    }
    
    &::after {
        
        /* mesh gradient background */
        
        border: 1px solid transparent;
        
        background:
            radial-gradient(at 80% 55%, hsla(268,100%,76%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 69% 34%, hsla(349,100%,74%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 8% 6%, hsla(136,100%,78%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 41% 38%, hsla(192,100%,64%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 86% 85%, hsla(186,100%,74%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 82% 18%, hsla(52,100%,65%,1) 0px, transparent 50%) padding-box,
            radial-gradient(at 51% 4%, hsla(12,100%,72%,1) 0px, transparent 50%) padding-box,
            linear-gradient(#c299ff 0 100%) padding-box;
        
        /* 5 radial masks to create a squircle-cut-out, and then a cone-gradient 
            originating from the center towards the pointer to highlight the edges */
        mask-image:
            linear-gradient( to bottom, black, black ),
            radial-gradient( ellipse at 50% 50%, black 40%, transparent 65% ),
            radial-gradient( ellipse at 66% 66%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 33% 33%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 66% 33%, black 5%, transparent 40% ),
            radial-gradient( ellipse at 33% 66%, black 5%, transparent 40% ),
            conic-gradient( from var(--pointer-°) at center, transparent 5%, black 15%, black 85%, transparent 95% );

        mask-composite: subtract,add,add,add,add,add;
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--color-sens)) / (100 - var(--color-sens)));
        mix-blend-mode: var(--blend);
        
    }
    
    & > .glow {
        
        /* glowing border edges */
        
        --outset: var(--pads);
        
        /* outer padding so the glow can overflow the element without being masked */
        inset: calc(var(--outset) * -1);
        pointer-events: none;
        z-index: 1;
        
        /* glow is masked to a cone, originating from the center towards the pointer */
        mask-image: 
            conic-gradient( 
                from var(--pointer-°) at center, black 2.5%, transparent 10%, transparent 90%, black 97.5%
            );
        
        /* opacity increases as pointer gets near edge */
        opacity: calc((var(--pointer-d) - var(--glow-sens)) / (100 - var(--glow-sens)));
        mix-blend-mode: var(--glow-blend);
        
        &::before {
            content: "";
            position: absolute;
            inset: var(--outset);
            border-radius: inherit;
            box-shadow: 
                inset 0 0 0 1px hsl( var(--glow-color) / 100%), 
                
                inset 0 0 1px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 60%)), 
                inset 0 0 3px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 50%)), 
                inset 0 0 6px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 40%)), 
                inset 0 0 15px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 30%)), 
                inset 0 0 25px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 20%)), 
                inset 0 0 50px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 10%)), 
                
                0 0 1px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 60%)), 
                0 0 3px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 50%)), 
                0 0 6px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 40%)), 
                0 0 15px 0 hsl( var(--glow-color) / calc(var(--glow-boost) + 30%)), 
                0 0 25px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 20%)), 
                0 0 50px 2px hsl( var(--glow-color) / calc(var(--glow-boost) + 10%));
            ;
        }
    }
}

.card {
    box-shadow: 
        rgba(0, 0, 0, 0.1) 0px 1px 2px, 
        rgba(0, 0, 0, 0.1) 0px 2px 4px, 
        rgba(0, 0, 0, 0.1) 0px 4px 8px, 
        rgba(0, 0, 0, 0.1) 0px 8px 16px, 
        rgba(0, 0, 0, 0.1) 0px 16px 32px, 
        rgba(0, 0, 0, 0.1) 0px 32px 64px;
}

.inner {
    text-align: center;
    h2 {
        color: inherit;
        font-weight: 500;
        font-size: 1.25em;
        margin-block: 0.5em;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;
        color:red;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        
    }
    svg {
        height: 24px;
    }
}

h2 {
}

.card .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    container-type: inline-size;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.card .content {
    padding: 1em;
    font-weight: 300;
    text-align: left;
    line-height: 1.4;
    color: color-mix(var(--fg), transparent 60%);
    overflow: auto;
    scrollbar-width: none;
    mask-image: linear-gradient( to top, transparent 5px, black 2em);
    
    & em,
    & strong {
        color: color-mix(var(--fg), transparent 40%);
    }
    
    & p {
        opacity: 0;
        animation: fadeContent 1.5s ease-in-out 2s both;
        &:nth-child(2) {
            animation-delay: 2.25s;
        }
        &:nth-child(3) {
            animation-delay: 2.5s;
        }
        &:nth-child(4) {
            animation-delay: 2.75s;
        }
    }
}


@keyframes fadeContent {
    to {
        opacity: 1;
    }
}






body, html {
    height: 100svh;
    overflow: auto;
    background: hsl(var(--h), 18%, 12%);
}

main {
    justify-items: center;
    align-content: center;
    min-height: 100%;
}



.sun {
    opacity: 0.25;
    &:hover {
        opacity: 1;
    }
}
.moon {
    opacty: 1;
}

.sun, .moon {
    transition: all 0.2s ease;
}

.light {
    --link: hsl(var(--canvas), 90%, 50%);
    --linkh: hsl(150, 85%, 40%);
    & .sun {
        opacity: 1;
    }
    & .moon {
        opacity: 0.25;
        &:hover {
            opacity: 1;
        }
    }
    h2 {
        text-shadow: 0 1px 1px lightslategray;
    }
}
@font-face {
  font-family: "JurassicPark";
  src:
    local("JurassicPark"),
        url('font/JurassicPark/JurassicPark.woff2') format('woff2'), /* Modern browsers */
        url('font/JurassicPark/JurassicPark.woff') format('woff'),   /* Good support */
        url('font/JurassicPark/JurassicPark.otf') format('opentype'), /* Fallback */        
        url('font/JurassicPark/JurassicPark.ttf') format('truetype'); /* Fallback */
}

/* ------------------------------
 | MODULAR TYPE SCALE
 | ------------------------------
 | Helps you create type scales that bring natural rhythm,
 | consistency, and balance to your designs.
 |
 | BASE VALUES:
 | - Font Size: 16px / 1rem
 | - Line Height: 24px / 1.5
 | - Letter Spacing: 3.5% / 0.035em
 |
 | SCALE:
 | - Ratio: 1.33 - Perfect Fourth
 |
 | LINE GRID:
 | - Grid Unit: 4px / 0.25rem
 |
 |
 | Scale ratio is calculated using an equal temperament tuning system.
 | Created with Precise Type / https://precise-type.com
 | Tools & Models by Adonis Raul Raduca
 */

/* --- Font Sizes --- */

:root {
  /* below the base */
  --font-size-2b: 0.5625rem;
  --font-size-1b: 0.75rem;

  /* the base */
  --font-size: 1rem;

  /* above the base */
  --font-size-1: 1.3125rem;
  --font-size-2: 1.8125rem;
  --font-size-3: 2.375rem;
  --font-size-4: 3.1875rem;
  --font-size-5: 4.25rem;
  --font-size-6: 5.6875rem;

/* --- Line Heights --- */

  /* below the base */
  --line-height-2b: 1.7778;
  --line-height-1b: 1.6667;

  /* the base */
  --line-height: 1.5;

  /* above the base */
  --line-height-1: 1.3333;
  --line-height-2: 1.2414;
  --line-height-3: 1.2632;
  --line-height-4: 1.1765;
  --line-height-5: 1.1176;
  --line-height-6: 1.0989;

/* --- Letter Spacings --- */

  /* below the base */
  --letter-space-2b: 0.0856em;
  --letter-space-1b: 0.0567em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.0195em;
  --letter-space-2: 0.0059em;
  --letter-space-3: -0.0026em;
  --letter-space-4: -0.0096em;
  --letter-space-5: -0.0147em;
  --letter-space-6: -0.0186em;
}


/* --- Default Text --- */

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-space);
}

/* --- Headers --- */

:is(h1, h2, h3) {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  letter-spacing: var(--letter-space-6);
}
h2 {
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  letter-spacing: var(--letter-space-5);
}
h3 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  letter-spacing: var(--letter-space-2);
}

/* --- Alternative Text Sizes --- */

:is(p, span, a, ul, ol, dl, li, dt, dd, label, blockquote, code) {
  &.small-text {
    font-size: var(--font-size-1b);
    line-height: var(--line-height-1b);
    letter-spacing: var(--letter-space-1b);
  }
  &.large-text {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-space-1);
  }
}



/* 
GOOGLE FONT: OPEN SANS
vedi <head> HTML per il collegamento ai file

// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name 
*/


body,
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* 
CLASSI DI SPACING

0.25 rem = 4px
0.5 rem = 8px
1 rem = 16px
1.5 rem = 24px
2 rem = 32px
3 rem = 48px 
*/

.m-1 { margin: 0.25rem !important;}
.m-2 { margin: 0.5rem !important;}
.m-3 { margin: 1rem !important;}
.m-4 { margin: 1.5rem !important;}
.m-5 { margin: 2rem !important;}
.m-6 { margin: 3rem !important;}

.mt-1 { margin-top: 0.25rem !important;}
.mt-2 { margin-top: 0.5rem !important;}
.mt-3 { margin-top: 1rem !important;}
.mt-4 { margin-top: 1.5rem !important;}
.mt-5 { margin-top: 2rem !important;}
.mt-6 { margin-top: 3rem !important;}

.mb-1 { margin-bottom: 0.25rem !important;}
.mb-2 { margin-bottom: 0.5rem !important;}
.mb-3 { margin-bottom: 1rem !important;}
.mb-4 { margin-bottom: 1.5rem !important;}
.mb-5 { margin-bottom: 2rem !important;}
.mb-6 { margin-bottom: 3rem !important;}

.ms-1 { margin-left: 0.25rem !important;}
.ms-2 { margin-left: 0.5rem !important;}
.ms-3 { margin-left: 1rem !important;}
.ms-4 { margin-left: 1.5rem !important;}
.ms-5 { margin-left: 2rem !important;}
.ms-6 { margin-left: 3rem !important;}

.me-1 { margin-right: 0.25rem !important;}
.me-2 { margin-right: 0.5rem !important;}
.me-3 { margin-right: 1rem !important;}
.me-4 { margin-right: 1.5rem !important;}
.me-5 { margin-right: 2rem !important;}
.me-6 { margin-right: 3rem !important;}

.m-1 { margin: 0.25rem !important;}
.m-2 { margin: 0.5rem !important;}
.m-3 { margin: 1rem !important;}
.m-4 { margin: 1.5rem !important;}
.m-5 { margin: 2rem !important;}
.m-6 { margin: 3rem !important;}

.mt-1 { margin-top: 0.25rem !important;}
.mt-2 { margin-top: 0.5rem !important;}
.mt-3 { margin-top: 1rem !important;}
.mt-4 { margin-top: 1.5rem !important;}
.mt-5 { margin-top: 2rem !important;}
.mt-6 { margin-top: 3rem !important;}

.mb-1 { margin-bottom: 0.25rem !important;}
.mb-2 { margin-bottom: 0.5rem !important;}
.mb-3 { margin-bottom: 1rem !important;}
.mb-4 { margin-bottom: 1.5rem !important;}
.mb-5 { margin-bottom: 2rem !important;}
.mb-6 { margin-bottom: 3rem !important;}

.ms-1 { margin-left: 0.25rem !important;}
.ms-2 { margin-left: 0.5rem !important;}
.ms-3 { margin-left: 1rem !important;}
.ms-4 { margin-left: 1.5rem !important;}
.ms-5 { margin-left: 2rem !important;}
.ms-6 { margin-left: 3rem !important;}

.me-1 { margin-right: 0.25rem !important;}
.me-2 { margin-right: 0.5rem !important;}
.me-3 { margin-right: 1rem !important;}
.me-4 { margin-right: 1.5rem !important;}
.me-5 { margin-right: 2rem !important;}
.me-6 { margin-right: 3rem !important;}


.p-1 { padding: 0.25rem !important;}
.p-2 { padding: 0.5rem !important;}
.p-3 { padding: 1rem !important;}
.p-4 { padding: 1.5rem !important;}
.p-5 { padding: 2rem !important;}
.p-6 { padding: 3rem !important;}

.pt-1 { padding-top: 0.25rem !important;}
.pt-2 { padding-top: 0.5rem !important;}
.pt-3 { padding-top: 1rem !important;}
.pt-4 { padding-top: 1.5rem !important;}
.pt-5 { padding-top: 2rem !important;}
.pt-6 { padding-top: 3rem !important;}

.pb-1 { padding-bottom: 0.25rem !important;}
.pb-2 { padding-bottom: 0.5rem !important;}
.pb-3 { padding-bottom: 1rem !important;}
.pb-4 { padding-bottom: 1.5rem !important;}
.pb-5 { padding-bottom: 2rem !important;}
.pb-6 { padding-bottom: 3rem !important;}

.ps-1 { padding-left: 0.25rem !important;}
.ps-2 { padding-left: 0.5rem !important;}
.ps-3 { padding-left: 1rem !important;}
.ps-4 { padding-left: 1.5rem !important;}
.ps-5 { padding-left: 2rem !important;}
.ps-6 { padding-left: 3rem !important;}

.pe-1 { padding-right: 0.25rem !important;}
.pe-2 { padding-right: 0.5rem !important;}
.pe-3 { padding-right: 1rem !important;}
.pe-4 { padding-right: 1.5rem !important;}
.pe-5 { padding-right: 2rem !important;}
.pe-6 { padding-right: 3rem !important;}


#page {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    /* font-family: "JurassicPark"; */
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: 0.5s;

    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
}

h1:hover {
    font-weight: 800;
    color: #222222;
}

h1:active {
    /* animation-play-state: running; */
}

.text-responsive {
    font-size: clamp(5rem, 30vw, 50rem); /* 16px min, 4vw preferred, 32px max */
}


@keyframes pulse {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(150%);
    }
}







/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    html {
        font-size: 24px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }