* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue: 330deg;
    --gray1: hsl(var(--hue) 10% 95%);
    --gray9: hsl(var(--hue) 10% 15%);
    --black: hsl(0 0% 0%);
    --primary3: hsl(var(--hue) 90% 75%);
    --primary5: hsl(var(--hue) 90% 55%);
    --primary6: hsl(var(--hue) 90% 45%);
    --trans-dur: 0.3s;
}

body {
    background-color: pink;
    color: var(--gray9);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Londrina Solid", sans-serif;
}

.creepy-btn {
    background-color: var(--black);
    border-radius: 1.25em;
    color: var(--gray1);
    cursor: pointer;
    min-width: 9em;
    position: relative;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.creepy-btn__cover {
    background-color: var(--primary5);
    padding: 0.5em 1em;
    border-radius: inherit;
    position: relative;
    display: block;
    z-index: 2;
    transform-origin: 1.25em 50%;
    transition: transform var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
}

.creepy-btn:hover .creepy-btn__cover {
    transform: rotate(-12deg);
    background-color: var(--primary6);
}

.creepy-btn__eyes {
    position: absolute;
    display: flex;
    gap: 0.375em;
    right: 1em;
    bottom: 0.5em;
    z-index: 1;
}

.creepy-btn__eye {
    background-color: white;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    animation: eye-blink 3s infinite;
}

.creepy-btn__pupil {
    position: absolute;
    background-color: black;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    left: 50%;
    top: 50%;
}

@keyframes eye-blink {
    0%, 92%, 100% { height: 0.75em; }
    96% { height: 0; }
}