body {
    font-size: 50px;
    color: black;
    background-color: pink;
}

#page {
    width: 90%;
    margin-top: 20%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: hsla(307, 83%, 49%, 0.2);
}

#work {
    background-color: hwb(285 0% 3% / 0.2);
}

#contatti {
    background-color: hsla(328, 90%, 72%, 0.2);
}

.section {
    padding: 16px;
}

.info-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding:20px;
    
}
.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* //Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .gallery {
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery figure {
        width: 30%;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}