
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #7da614;
}

canvas {
    display: block;
}

.titolo-gioco {
    position: absolute;
    color: rgb(12, 145, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
    z-index: 10;
    text-transform: uppercase;
    white-space: nowrap; 
    transition: all 0.3s ease; 
    top: 5vh;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 8vw;
    letter-spacing: 4px;
}
@media (min-width: 1024px) {
    .titolo-gioco {
        top: 50%;
        left: auto;
        right: 5vw; 
        transform: translateY(-50%); 
        font-size: 5rem; 
        letter-spacing: 8px;
        writing-mode: vertical-rl; 
       
    }
}
.serpente {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30vw; 
    max-width: 400px;
    min-width: 150px;
    height: auto;
    z-index: 1; 
    pointer-events: none;
}

.mela-animata {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    animation: melaFloat 3s ease-in-out infinite; /* Movimento continuo */
    bottom: 20px;
    right: 10px;
    width: 25vw;
    max-width: 150px;
    min-width: 80px;
}

@keyframes melaFloat {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-20px) rotate(5deg); }
    100% { transform: translateY(0) rotate(0deg); }
}
/* VERSIONE DESKTOP (Tutto schermo) */
@media (min-width: 1024px) {
    .mela-animata {
        top: 50%;
        right: 5vw; /* A destra del gioco */
        bottom: auto;
        transform: translateY(-50%); /* Centrata verticalmente */
        width: 15vw;
        max-width: 250px;
        /* Sovrascriviamo l'animazione per desktop se vogliamo che fluttui sul posto */
        animation: melaFloat 4s ease-in-out infinite;
    }
}