html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.contenitore {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(171, 46, 46);
}


.title {
    position: absolute;
    left: 0%;
    font-size: 11.2vh;
    line-height: 0.95;
    font-weight: 900;
    height: auto;
    width: 100%;
    top: 0%;
    right: 0%;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
}

.bocche {
    position: absolute;
    height: auto;
    width: 53%;
    right: 0%;
    bottom: 0%;
    opacity: 0.4;
    z-index: 1;
    max-width: 100%;
}

.gambe {
    position: absolute;
    height: auto;
    bottom: 0%;
    left: 27%;
    width: 50%;
    filter: brightness(120%);
    z-index: 4;
    max-width: 100%;
}

.bicchiere {
    position: absolute;
    height: auto;
    top: 29.3%;
    left: 42%;
    width: 19%;
    transform: rotate(-15deg);
    filter: brightness(120%);
    max-width: 100%;
    z-index: 3;
}

.rossetto {
    position: absolute;
    height: auto;
    left: 22%;
    bottom: 0%;
    width: 10%;
    z-index: 3;
    max-width: 100%;
}

.pizzo {
    position: absolute;
    height: auto;
    bottom: 0%;
    left: 0%;
    width: 80%;
    opacity: 0.5;
    z-index: 2;
    max-width: 100%;

}

@keyframes impattoMuro {
    0% { transform: rotate(-15deg); }
    20% { transform: rotate(45deg); }
    45% { transform: rotate(45deg); }
    55% { transform: rotate(-15deg); }
    75% { transform: rotate(-45deg); }
    95% { transform: rotate(-45deg); }
    100% { transform: rotate(-15deg); }
}

.bicchiere:hover, 
.bicchiere:active {
    
    animation: impattoMuro 0.8s linear infinite;
    cursor: pointer;
    transform-origin: bottom center;
    will-change: transform; 
}


@media (min-width: 992px) {

    .contenitore {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(171, 46, 46);
    max-width: none;
    }

    .title {
        position: absolute;
        top: 0%;
        left: 0%;
        font-size: 32vh;
        white-space: nowrap;
    }

    .bocche {
        width: 19.5%;
        right: 6%;
        bottom: 0%;
    }

    .gambe {
        width: 18%;
        left: 63.5%;
        bottom: 0%
    }

    .bicchiere {
        width: 8.6%;
        top: 0%;
        left: 67.4%
    }

    .rossetto {
        width: 4.3%;
        left: 61%;
        bottom: 0%;
    }

    .pizzo {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 30%;
        opacity: 0.5;
        z-index: 2;
    }

}